body {
    margin: 0;
    padding: 0;
    background-color: #210002;
    font-size: 15px;
}
.banner {
    position: relative;
    overflow: hidden;
    height: 100vh;
}
.banner .bg{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: auto 100%;
    background-position: center bottom;
    transition: 0.1s;
    
}
.banner .img1{
    background-image: url(images/0.png);
}
.banner .img2{
    background-image: url(images/1.png);
}
.banner .img3{
    background-image: url(images/2.png);
}
.banner .img4{
    background-image: url(images/3.png);
}
.banner .img5{
    background-image: url(images/4.png);
}
.banner .img6{
    background-image: url(images/5.png);
}
.banner .img7{
    background-image: url(images/6.png);
}
.banner .img8{
    background-image: url(images/7.png);
}
.banner .img9{
    background-image: url(images/8.png);
}

.banner h1 {
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 7rem;
    font-family: "Poppins", sans-serif;
    color: #fff;
}

.intro {
    min-height: 50vh;
    color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.intro p {
    width: 700px;
    height: 130px;
    border-radius: 50%;
    font-family: "Poppins", sans-serif;
    text-align: center
}

.animation-show{
    transform: translateY(50px);
    opacity: 0.5;
    transition: 2s;
}
.active .animation-show{
    transform: translateY(0);
    opacity: 1;
}
.library{
    margin-top: 50px;
    margin-bottom: 100px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    color: #fff;
}
.library img{
    width: 90%;
    height: 500px;
    object-fit: cover;
}